nav .brand-big a {
	display: block;
	width: 100%;
}

nav .brand-big a img {
	width: 100%;
}

.hide-by-firas {
	display: none;
}

.table thead {
    color: #14726b;
}

.btn-primary:hover {
    background-color: #f97c0b;
    border-color: #f97c0b;
}

.row {
    margin-right: unset;
    margin-left: unset;
}